Repository pygame-community/PygameCommunityBot, pull requests merged in 2021-07, with the labels that each got.

#354 move parser functions into new file, add nested tuple parsing support
  pgbot/__init__.py
  pgbot/commands/admin/__init__.py
  pgbot/commands/base.py
  pgbot/commands/parser.py
Labels: PR: Awaiting Review, base

#356 Use new discord time formatting features
  pgbot/commands/admin/__init__.py
  pgbot/commands/base.py
  pgbot/commands/parser.py
  pgbot/commands/user/__init__.py
  pgbot/utils/embed_utils.py
  pgbot/utils/utils.py
Labels: PR: Awaiting Review, utils

#344 Add browse admin command
  pgbot/commands/admin/__init__.py
  pgbot/commands/base.py
  pgbot/common.py
  pgbot/utils/embed_utils.py
Labels: PR: Changes requested, admin commands

#359 Fix raise SystemExit bugs in exec cmd
  pgbot/commands/utils/sandbox.py
Labels: PR: Awaiting Review, bug 🐛

#360 Fix raise BaseException bugs in pg!exec
  pgbot/commands/utils/sandbox.py
Labels: PR: Awaiting Review, bug 🐛

#363 fix color bug in clock, do not hardcode clock image size
  pgbot/commands/user/help_commands.py
  pgbot/commands/utils/clock.py
Labels: bug 🐛, user commands

#362 fix spacing bug when urls is set to True in '!sudo fecth' command
  pgbot/commands/admin/sudo.py
Labels: (em)sudo commands, bug 🐛
